In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
data=pd.read_csv("titanic_x_y_train.csv",delimiter=",")
data.drop(["Name","Ticket","Cabin"],axis=1,inplace=True)

In [11]:
def change(st):
    if st=="female":
        return 0
    else:
        return 1
data["Sex"]=data["Sex"].apply(change)
data.drop("Embarked",axis=1,inplace=True)

In [17]:
data.Pclass.fillna(data.Pclass.mean(),inplace=True)
data.Age.fillna(data.Age.mean(),inplace=True)
data.SibSp.fillna(data.SibSp.mean(),inplace=True)
data.Parch.fillna(data.Parch.mean(),inplace=True)
data.Fare.fillna(data.Fare.mean(),inplace=True)
data.Survived.fillna(data.Survived.mean(),inplace=True)

In [20]:
y_train=data["Survived"]
data.drop("Survived",axis=1,inplace=True)
x_train=data
data

     Pclass  Sex       Age  SibSp  Parch     Fare
0         2    0  29.00000      1      0  26.0000
1         3    1  29.70056      0      0   8.0500
2         2    1  39.00000      0      0  26.0000
3         3    0  29.00000      0      4  21.0750
4         3    1  25.00000      0      0   7.0500
..      ...  ...       ...    ...    ...      ...
663       2    0  17.00000      0      0  10.5000
664       3    1  29.70056      0      0   7.7500
665       3    1  32.00000      0      0  56.4958
666       3    0  22.00000      0      0   9.8375
667       3    0  29.70056      1      0  15.5000

[668 rows x 6 columns]

In [94]:
class LogisticRegression:
    def __init__(self,it=100,lr=0.01):
        self.learning_rate=lr
        self.iterations=it
        self.m=None
    
    def GradientDescent(self,x,y,m_slope):
        new_m=np.zeros(shape=len(x[0]))
        for i in range(len(x)):
            for j in range(len(x[0])):
                new_m[j]+=(-1/len(x))*(y[i]-(self.sigmoid(np.dot(m_slope,x[i])))*x[i][j])
        return m_slope-self.learning_rate*new_m
    def sigmoid(self,x):
        a  = 1.0/(1+np.exp(-x))
        return a

    def cost(self,x,y,m_slope):
        value=0 
        for i in range(len(x)):
            mtxi=np.dot(m_slope,x[i])            
            value+=abs(np.log(1+np.exp(mtxi))-y[i]*mtxi)
#         for j in range(len(x[0])):
#                 plt.scatter(x[:,j],np.dot(x,m_slope),color="red")
#                 plt.scatter(x[:,j],y)
#                 plt.show()
        return value/len(x)
    def fit(self,x_train,y_train):
        ones=np.ones(shape=(len(x_train),1))
        x_train=np.append(x_train,ones,axis=1)
        m_slope=np.array([0 for i in range(len(x_train[0]))])
        for i in range(self.iterations):
            m_slope=self.GradientDescent(x_train,y_train,m_slope)
            print(self.cost(x_train,y_train,m_slope))
lr=LogisticRegression()
lr.fit(x_train,y_train)

4.529306079795499
4.422845163889469
4.3188719775445605
4.217635717402868
4.119393232755638
4.02440441670921
3.932926526750186
3.8452075506799113
3.761478857103981
3.6819474990692727
3.6067886547836836
3.536138766369707
3.4700899531199276
3.4086862142914938
3.351921796562958
3.299741898480029
3.252045649598785
3.2086910753150084
3.169501577923544
3.1342733575838255
3.1027831737392355
3.074795900608581
3.0500714388454573
3.0283706825072922
3.0094603803658426
2.993116853740559
2.9791286281031057
2.9672980991338944
2.957442387972682
2.9493935507139146
2.9429983005625195
2.938117383967444
2.9346247298088084
2.932406467212312
2.931359885316918
2.9313923887297246
2.9324204860500127
2.9343688357820343
2.937169363917071
2.9407604600324073
2.9450862534640083
2.950095967512567
2.955743347343872
2.9619861559079332
2.9687857315590347
2.976106600897368
2.9839161405132697
2.992184281675986
3.000883252485218
3.009987352533439
3.0194727556692786
3.029317336979223
3.0395005206004484
3.0500031454314693
3.0608073462161216
3.0718964478390207
3.0832548709883536
3.094868047618112
3.1067223448798655
3.1188049963975955
3.1311040399327963
3.1436082606336337
3.156307139186081
3.1691908042889416
3.182249988962165
3.1954759902709338
3.2088606321089244
3.2223962307352245
3.236075562801654
3.2498918356428628
3.26383865963091
3.277910022420891
3.292100264934595
3.3064040589470274
3.3208163861545903
3.335332518616757
3.349948000473181
3.364658630847534
3.3794604478568386
3.3943497136521366
3.4093229004221217
3.4243766772964808
3.439507898090591
3.454713589837065
3.4699909420536743
3.4853372967003
3.500750138780952
3.516227087549589
3.5317658882809524
3.5473644045705157
3.563020611129513
3.5787325870431803
3.5944985094626625
3.610316647702375
3.6261853577168752
3.642103076932477
3.6580683194107517
3.6740796713222545
3.6901357867102935
3.7062353835258386

In [78]:
x=[[1,2,3],[4,5,2]]
slp=[1,1,1]
np.dot(x,slp)

array([ 6, 11])